<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Form </title>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="flex navigation">
            <a href="/">
                <h2>
                    Blog
                </h2>
            </a>
        <a href ='/articles' class='button'> Show articles </a>
        </div>
    </header>
        
    <main>      
        <h3>Add article Form</h3>
        <form action="/articles" method="post" class='form-container'>
            <input type="text" name="title" id="title" placeholder="Enter article title">
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            <textarea name="tags" id="tags" cols="30" rows="10" placeholder="Enter relevant tags"></textarea>
            <input type="text" name="author" id="author" placeholder="Enter author name">
            <button type="submit">Add article</button>
        </form>
    </main>
</body>
</html>
