<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Form</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="flex navigation">
            <a href="/">
            <h3>
                Blog
            </h3>
            </a>
            <a href="/articles" class="button">Show Articles</a>
        </div>
    </header>
    <main>
    <h3>Comment Edit Form</h3>
    <form action="/comments/<%= comment.id%>" method="post" class="form-container">
        
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Enter description"><%= comment.content%></textarea>
        
        <button type="submit">Edit Comment</button>
    </form>
</main>
</body>
</html>
