<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles Detail</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="flex navigation">
        <a href="/">
        <h2>
            Blog
        </h2>
    </a>   
        <a href ='/articles/new' class='button'> Add Article </a>
        </div>
    </header>
        
    <main>
        <% if(articles.length > 0) { %>
       <ol>
           <% articles.forEach((article) => { %>
            <li>
                <ul class="article-card-brief">
                    <li>Title: <%= article.title%></li>                       
                    <a href='/articles/<%= article.id %>' class="button">Show Detail</a>
                </ul> 
            </li>
           <% }) %>
       </ol>
    <% }  else {  %>
      <h3>No Articles Present</h3>
    <% } %>
    </main>
</body>
</html> 